<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/asset/css/nav_layout.css}">
    <title layout:title-pattern="$CONTENT_TITLE"></title>
</head>

<body>
    <header th:fragment="my-fragment1" id="header">
        <div id="header-nav">
            <div id="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a th:href="@{/}">HOME</a></li>
                    <li class="nav-item"><a th:href="@{/people}">List People</a></li>
                    <li class="nav-item"><a th:href="@{/jobs}">List Jobs</a></li>
                </ul>
            </div>
        </div>
        <div id="language">
            <ul>
                <li><a th:href="@{/?lang=en}">English</a></li>
                <li><a th:href="@{/?lang=vn}">Vietnamese</a></li>
            </ul>
        </div>
    </header>
    
</body>

</html>