body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTCAPtQ8UtjXeKtDy7sbYdEueK-NCOyCwbsA&usqp=CAU);
    
}
header {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
.container {
    display: inline-block;
    margin-left: 10px;
}
#name {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 81, 0);
}
.user {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}
.user>a {
    color: black;
}
nav {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(109, 109, 212);
    padding-top: 1;
}
.menu-item {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 10 30 10 30;
    border: 1px solid black;
    border-radius: 10%;
}
.menu-item>a {
    font-size: 20px;
    color: black;
}
.menu {
    position: relative;
}
.menu-item:hover .ul-list{
    display: block;
    
}
.ul-list {
    display: none;
    list-style: none;
    padding: 10 10 10 20;
    position: absolute;
    top: 75%;
    left: 5%;
    background-color: rgb(109, 109, 212);
    border: 1px solid black;
    z-index: 1;
}
.ul-list li {
    font-size: 20px;
    padding: 10 40 10 10;
    border-bottom: 1px solid black;
    z-index: 1;
}
.ul-list a {
    color: black;
}
.ao-hover:hover .ao-ul {
display: block;
}
.ao-ul {
    display: none;
    list-style: none;
    padding: 10 10 10 10;
    position: absolute;
    top: 0%;
    left: 85%;
    background-color: rgb(109, 109, 212);
    border: 1px solid black;
}
a {
    text-decoration: none;
}
.quan-hover:hover .quan-ul{
    display: block;
}
.quan-ul {
    display: none;
    list-style: none;
    padding: 10 10 10 10;
    position: absolute;
    top: 0%;
    left: 85%;
    background-color: rgb(109, 109, 212);
    border: 1px solid black;
}
.tay-hover:hover .tay-ul{
    display: block;
}
.tay-ul {
    display: none;
    list-style: none;
    padding: 10 10 10 10;
    position: absolute;
    top: 0%;
    left: 85%;
    background-color: rgb(109, 109, 212);
    border: 1px solid black;
}
* {
    box-sizing: border-box;
}
.div-main {
    background-color: rgb(109, 109, 212);
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    
}
.div-item {
    overflow: auto;
    background-color: white;  
}
.div-sanpham {
    float: left;
    width: 25%;
}
figure {
    overflow: hidden;
    width: 300px;
    position: relative;
}
.image {
    border-radius: 10%;
    border: 1px solid black;
    width: 300px;
    transition: all 1s;
}
figure:hover .image {
    transform: scale(1.5);
}
figure .overlay {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 100%;
    color: burlywood;
    font-size: 20px;
    font-weight: bolder;
    display: none;
}
figure p {
    margin-top: 100px;
}
figure:hover .overlay {
    display: block;
    background-color: black;
    opacity: 0.7;
}
.div-aside {
    display: inline-block;
    
}
.aside-figcaption {
    font-style: italic;
    color: black;
}
.aside-img {
    border: 2px solid rgb(12, 68, 12);
    border-radius: 20%;
}
aside {
    background-color: gray;
    padding-top: 1;
}
footer {
    background-color: rgb(109, 109, 212);
}
.footer-a {
    color: white;
}
.footer-text {
    color: rgb(136, 204, 224);
}
.div-footer {
    display: inline-block;
    margin: 30px;
}
.section1>p {
    color: white;
    margin-left: 50px;
}
.section-item {
    margin: 20px;
}
.footer3>a {   
    color: white;
}
.footer3 {
    display: inline-block;
    margin-left: 10px;
}
.div-sanpham2 {
    margin: 50 20 100 50;
    background-image: url(https://img2.thuthuatphanmem.vn/uploads/2019/03/02/hinh-nen-powerpoint-xanh-duong-cuc-dep_012324053.jpeg);
    margin-left: 70px;
    margin-right: 70px;
    padding: 30;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}
.indam1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
}
.indam2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 3;
}
.mota {
    font-size: 20px;
    font-weight: bold;
}
.text-li li {
    font-size: 20px;
}
#thongtin {
    font-size: 25px;
    font-weight: bold;
}
.main {
    display: flex;
}