body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTTCAPtQ8UtjXeKtDy7sbYdEueK-NCOyCwbsA&usqp=CAU);
}
* {
    box-sizing: border-box;
}
header img {
    border: 1px solid black;
    border: 80 80 80 80;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: -5px;
}
header {
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(180deg, white, black);
}
.container {
    display: inline-block;
    margin: 0 5 0 5;
}
#name {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bolder;
    animation-name: tenshop;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes tenshop {
    0% {
        color: orange;
        margin-left: 20%;
    }
    50% { 
        color: blue;
    }
    100% {
        color: brown;
    }
}
.user {
    float: right;
    margin-top: 10px;
}
.user>a {
    color: black;
}
nav {
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(53deg,#ccfffc,#ffcccf);
    padding-top: 1;
}
.menu-item {
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 15px;
    padding: 10 30 10 30;
    border: 1px solid black;
    border-radius: 10%;
    background: linear-gradient(53deg,#ccfffc,#ffcccf);
    position: relative;
    box-shadow: 3px 3px 3px 3px black;
    
}
.menu-item>a {
    font-size: 20px;
    color: black;
    
}
.menu-item:hover .ul-list{
    display: block;
    box-shadow: 3px 3px 3px 3px black;
}
.ul-list {
    display: none;
    list-style: none;
    padding: 10 10 10 20;
    position: absolute;
    top: 100%;
    left: 5%;
    background: linear-gradient(53deg,#ccfffc,#ffcccf);
    border: 1px solid black;
    z-index: 1;
}
.ul-list li {
    font-size: 20px;
    padding: 10 40 10 10;
    border-bottom: 1px solid black;
    z-index: 1;
}
.ul-list a {
    color: black;
}
.tao-hover:hover .tao-ul {
display: block;
box-shadow: 3px 3px 3px 3px black;
}
.tao-ul {
    display: none;
    list-style: none;
    padding: 10 10 10 10;
    position: absolute;
    top: 0%;
    left: 85%;
    background: linear-gradient(53deg,#ccfffc,#ffcccf);
    border: 1px solid black;
}
a {
    text-decoration: none;
}
.ss-hover:hover .ss-ul{
    display: block;
}
.ss-ul {
    display: none;
    list-style: none;
    padding: 10 10 10 10;
    position: absolute;
    top: 0%;
    left: 85%;
    background-color: rgb(109, 109, 212);
    border: 1px solid black;
}
.oppo-hover:hover .oppo-ul{
    display: block;
}
.oppo-ul {
    display: none;
    list-style: none;
    padding: 10 10 10 10;
    position: absolute;
    top: 0%;
    left: 85%;
    background-color: rgb(109, 109, 212);
    border: 1px solid black;
}

.div-main {
    background-color: rgb(109, 109, 212);
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    
}
.div-item {
    overflow: auto;  
    background-image: url(https://us.123rf.com/450wm/sedatseven/sedatseven1601/sedatseven160100036/51502027-m%C3%A0u-x%C3%A1m-%C4%91en-gradient-n%E1%BB%81n-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-d%E1%BB%B1ng-h%C3%ACnh-%C4%91%E1%BB%83-tr%C6%B0ng-b%C3%A0y-montage-s%E1%BA%A3n-ph%E1%BA%A9m-c%E1%BB%A7a-b%E1%BA%A1n.jpg?ver=6);
}
.div-sanpham {
    float: left;
    width: 25%;
}
.main-figure {
    overflow: hidden;
    width: 300px;
    position: relative;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 10%;
}
.main-figure > figcaption {
    text-align: center;
    font-size: 20px;
    color: White;
    margin: 2 2 2 2;
}
.image {
    width: 300px;
    transition: all 1s;
}
.main-figure:hover .image {
    transform: scale(1.5);
}
.main-figure .overlay {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 100%;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    display: none;
}
.overlay > p {
    background: linear-gradient(53deg,#ccfffc,#ffcccf);
}
.main-figure p {
    margin-top: 100px;
}
.main-figure:hover .overlay {
    display: block;
    background-color: black;
    opacity: 0.7;
}
aside {
    background-color: gray;
}
.indam1, .indam2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;

}
.div-aside{
    display: inline-block;
}
footer {
    background: linear-gradient(180deg,white,black)
}
.footer-a {
    color: black;
}
.div-footer {
    display: inline-block;
    margin: 30px;
}

.main-sanpham div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;    
}
.div-sanpham2 {
    background-image: url(https://img2.thuthuatphanmem.vn/uploads/2019/03/02/hinh-nen-powerpoint-xanh-duong-cuc-dep_012324053.jpeg);
    margin: -90 50 50 50;
    padding: 150 50 50 50;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}
