<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="name">
          <h1 th:text="${appName}">Thế Giới Xe</h1>
        </div>
        <ul class="li-list"><a th:href="@{/bestsale}">Danh sách ô tô bán chạy nhất tháng 11 năm 2020</a></ul>
        <ul>
          <li th:each="car: ${cars}" class="li-home" th:text="${car.name} + ' Manufacturer: ' 
          + ${car.manufacturer} +' Price: ' + ${car.price} + ' triệu'"></li>
        </ul>
      </div>
</body>
</html>